@model IEnumerable<LibraryMangementSystem.Models.Checkout>

@{

    ViewData["Title"] = "GetAll";

    ViewData["Title"] = "Checkout";

}

<h1>GetAll</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="Penalty">Show Penalty</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CheckoutId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckoutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Member.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Title)
            </th>
            <th>
                Return
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CheckoutId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckoutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Member.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                    <a href="/Checkout/Return?checkoutId=@item.CheckoutId">Return</a>
                   
            </td>
        </tr>
}
    </tbody>
</table>
