@model IEnumerable<LibraryMangementSystem.Models.Penalty>

@{

    ViewData["Title"] = "GetAll";

    ViewData["Title"] = "Penalty";

}

<h1>GetAll</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PenaltyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LateDaysThreshold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PenaltyAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckoutId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Checkout.MemberId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PenaltyId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LateDaysThreshold)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PenaltyAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckoutId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Checkout.MemberId)
                </td>
            </tr>
        }
    </tbody>
</table>
